@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Poppins:ital,wght@1,200&display=swap');

/* CSS RESET */
* {
    margin : 0;
    padding: 0;
}

body {
    overflow-x: hidden;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color          : black;
    cursor         : pointer;
}

/* container */
.container {
    width   : 92vw;
    position: relative;
}

/* navbar */
.navbar {
    /* height: 80px; */
    height: 61px;
    width : 100%;
    gap   : 38vw;
}

.bar {
    width   : 21px;
    position: absolute;
    right   : 89px;
    top     : 18px;
    display : none;
}

.line {
    width     : 100%;
    height    : 3px;
    margin    : 2px 0;
    background: black;
}

.leftnav {
    padding    : 0 12px;
    font-size  : 1.4rem;
    font-weight: bolder;
    color      : #ff280f;
}

.rightnav {
    gap: 3vw;
}

.navlist {
    gap      : 3vw;
    font-size: 18px;
}

.navlist li {
    padding: 9px;
}

.btn {
    background   : #ff280f;
    color        : white;
    font-size    : 14px;
    padding      : 6px 14px;
    border       : solid white 2px;
    border-radius: 8px;
    cursor       : pointer;
}

.btn:hover {
    background: #000000a6;
}

/* description */

.description {
    font-family: 'Poppins', sans-serif;
    gap        : 13vw;
}

.right-d img {
    height: 581px;
    width : 23vw;
}

.left-d img {
    height: 200px;
}

.para {
    padding: 14px 11px;
    width  : 60%;
}

.timer {
    font-size: 20px;
    padding  : 12px 0px;
}

/* main */

.main1 h2 {
    line-height: 45px;
    font-size  : 2rem;
}

.main1>.para {
    width: 57%;
}

.sections {
    font-family: 'Lato', sans-serif;
    margin     : 23px 0;
    gap        : 30px;
}

.section {
    width        : 18vw;
    gap          : 15px;
    border       : solid black 2px;
    border-radius: 5px;
    padding      : 10px 0;
}

.section ul {
    gap: 6px;
}

.section h3 {
    font-size: 1.2rem;
}

.main2 h2 {
    line-height: 71px;
    font-size  : 2.4rem;
}

.main2 {
    gap: 13px;
}

.table {
    width     : 92vw;
    text-align: center;
    margin    : 10px 0px;
    min-height: 39vh;
}

/* footer */
.footer {
    font-family: 'Poppins', sans-serif;
    min-height : 4vh;
    font-size  : 1.2rem;
}

/* utility Classes */

.col-blue {
    color: green;
}

.col-red {
    color: red;
}

.text-center {
    text-align: center;
}

.flex {
    display: flex;
}

.align-items-center {
    align-items: center;
}

.jusitfy-content-center {
    justify-content: center;
}

.flex-direction-col {
    flex-direction: column;
}

.mx-auto {
    margin: 0px auto;
}

/* mediaquery */
@media only screen and (max-width:1272px) {
    .bar {
        display: block;
    }

    .d-heading {
        font-size: 1.2rem;
    }

    .navbar {
        opacity       : 0;
        transition    : height 1.2s ease-in-out;
        gap           : 40px;
        flex-direction: column;
    }

    .rightnav {
        flex-direction: column;
    }

    .navlist {
        flex-direction: column;
    }
}